* {
    box-sizing: border-box;
}

.call-icon{
    max-width: 120px;
}

.slider-container .bx-controls-direction{
    display: none!important;
}

.preloader{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999999;
    top: 0;
    right: 0;
    background-color: #fff;
}

.preloader img{
    position: absolute;
    width: 70px;
    right: calc(50% - 35px);
    top: calc(50% - 10px);
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #e5e5e5;
    width: 14px;
    height: 14px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.video-slider-container{
    max-width: 300px;
    top: 30px;
    position:relative;
}

.download-now{
    color: #158eea;
}

@media only screen and (max-width: 375px) {

    .video-slider-container {
        max-width: calc(100vw - 60px);
    }
    #bx-pager{
        right: 6px!important;
        top: -240px!important;
    }
    #slide-desc {
        height: 60px!important;
    }
    body > div.container-fluid.p-0.agreement > section > div:nth-child(2) > div > div.mt-5.col-12.col-md-6{
        margin-top: 0!important;
    }
}

@media only screen and (max-width: 768px) {

    .download-now{
        margin-top: -20px;
    }

    .video-slider-container {
        max-width: calc(100vw - 70px);
    }

    #bx-pager a {
        width: 5px!important;
		height: 5px!important;
    }

    .header-banner img{
        width: 100vw;
    }

    #slide-desc {
        height: 80px!important;
        max-width: calc(100vw - 70px);
        margin: auto;
        margin-top: 10%;
    }

    #bx-pager{
        right: 10px;
        top: -260px;
        left: unset;
    }

    #bx-pager a{
        display: block!important;
        margin-bottom: 10px;
        background-color: #d3d3d3;
    }

    #bx-pager a.active{
        background-color: #848484;
    }

    .bg-light-sea-blue{
        background-color: #eff5ff;
    }

    .logo img:first-child{
        display: none;
    }

    .logo img:last-child{
        display: inline-block;
        padding-top: 15px;
        padding-left: 0;
    }

    .mobile-inner-page-banner{
        display: block;
        position: absolute;
        right: 0;
        margin-top: -2%;
        width: 65%;
    }

    .inner-page-banner{
        display: none;
    }

    header {
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    header .slogan{
        display: none;
    }

    header .social-icons{
        position: absolute;
        z-index: 1;
        right: 25px;
        top: 15px;
    }

    .social-icons li{
        list-style: none;
        float: right;
    }

    .social-icons li a{
        color: #fff;
    }
    .social-icons li a i{
        font-size: 24px;
    }

    .agreement .page-title{
        margin-top: 85px;
        text-align: center;
    }

    .page-wrapper .page-title h1{
        font-family: 'Montserrat-ExtrBold';
        color: #262626;
        font-size: 140%;
    }

    .page-wrapper .page-title h5{
        font-family: 'Montserrat-ExtrBold';
        color: #262626;
        font-size: 82%;
    }



    .page-wrapper .card{
        border: none;
        border-radius: unset;
        padding: 0;
    }

    .page-wrapper .card .card-header hr{
        margin: unset;
        border-bottom: 2px solid #2094d0;
        width: 100%;
    }
    .page-wrapper .card .card-header {
        background-color: transparent;
        border: unset;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        padding: unset;
        width: 100%;
    }

    .page-wrapper .card .card-header .btn-link {
        font-family: 'Montserrat-Bold';
        color: #262626;
        padding: 15px 0 15px 0;
        width: 100%;
        text-align: left;
    }

    .page-wrapper .card .card-header .btn-link span{
        display: inline-block;
        max-width: 90%;
    }

    .page-wrapper .card .card-header .btn-link i{
        float: right;
        margin-right: 8px;
        margin-top: 4px;
        color: #2094d0;
        -ms-transform: rotate(180deg); /* IE 9 */
        transform: rotate(180deg); /* Standard syntax */
    }

    .page-wrapper .card .card-header button.collapsed i {
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Standard syntax */
    }

    .page-wrapper .card .card-header .btn-link:hover {
        text-decoration: none;
    }

    .page-wrapper .card .card-body p{
        font-size: 97%;
        line-height: 30px;
        font-family: 'Montserrat-medium';
        color: #262626;
    }

    .button-box{
        margin-top: 96px;
    }

    .button-box img{
        max-width: 94px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .m-subscribe-form input{
        font-family: 'Montserrat-LightItalic';
        text-align: center;
        outline: none;
        border: none;
        border-bottom: 2px solid #2094d0;
        margin-bottom: 12px;
        max-width: 164px;
    }

    .m-subscribe-form button{
        font-family: 'Montserrat-Medium';
        text-align: center;
        outline: none;
        line-height: 30px;
        border-radius: 20px;
        border: 1px solid #2094d0;
        background-color: #2094d0;
        color: #fff;
        margin-top: 12px;
        width: 164px;
        font-size: 80%;
    }

    .m-subscribe-form button:hover{
        background-color: #fff;
        color: #2094d0;
        margin-top: 12px;
        width: 164px;
        font-size: 80%;
    }

    .footer-two{
        position: relative;
        width: 100%;
        bottom: 0;
        z-index: 0;
        height: 100px;
        margin-top: 20px;
    }

    .agreement a{
        font-family: 'Montserrat-Medium';
        color: #25a2db;
    }

    footer {
        width: 100%;
        bottom: 0;
        z-index: 0;
    }

    footer .left span{
        line-height: 55px;
    }

    footer .left span:first-child{
        float: left;
    }

    footer .left span a:first-child {
        font-family: 'Montserrat-Bold';
        color: #fff;
        padding-top: 10px;
        display: inline-block;
    }

    footer .left span a:first-child:hover{
        color: #e6e6e6;
    }

    footer .left span:last-child{
        float: left;
    }

    footer .right span{
        display: inline-block;
        padding: 0 14px;
        border: 1px solid #fff;
        border-radius: 22px;
        line-height: 34px;
        height: 40px;
        right: 0;
        bottom: 4px;
        position: absolute;
    }

    footer form input,
    footer form button{
        background-color: transparent;
        border: none;
    }

    footer form input::placeholder{
        padding-left: 8px;
        font-family: 'Montserrat-LightItalic';
        color: #c8e8f6;
    }
    footer form button{
        font-family: 'Montserrat-Medium';
        font-size: 14px;
        color: #fff;
    }

    .call-icon{
        position: absolute;
        bottom: -170px;
    }

    .copyright a p {
        position: absolute;
        bottom: -172px;
        color: #fff;
        font-family: 'Montserrat-Medium';
        right: 20px;
    }

    .color-1{
        color: #25a2db;
    }

    /***********************
        CUSTOM BX SLIDER
    ************************/

    .bx-wrapper .bx-pager {
        z-index: 5;
    }

    .slider-container .bx-wrapper{
        background-color: transparent;
        border: none;
        box-shadow: none;
        width: 100%;
    }

    .slider-container .bx-viewport{
        overflow: unset!important;
    }

    .slider-container .slider-item{
        overflow: hidden;
    }

    .m-btn-box{
        margin-top: 32%;
    }

    .m-btn-box a img{
        display: inline-block;
    }

    /*******************
        SLIDERS
    *******************/
    .slider-container .overlay-2{
        position: absolute;
        top: 0;
        text-align: center;
    }

    .slider-container .slider-overlay-1{
        display: none;
    }

    .slider-container .slider-overlay-2{
        display: none;
    }

    .slider-container .m-slider-overlay-1{
       width: 100%;
    }

    .slider-container .m-slider-overlay-2{
        position: absolute;
        z-index: 0;
        top: 0;
        width: calc(100% - 30px);
    }

    .slider-container div.slide-item{
        position: relative;
    }



    /*********************
        SLIDER ITEM 1
    *********************/

    .m-phones{
        position: absolute;
        width: 70%;
        right: calc(50% - 35%);
        margin-top: -54%;
        z-index: 2;
    }

    .m-title-3{
        color: #000;
        font-family: 'Montserrat-Regular';
        max-width: 80%;
        font-size: 82%;
        line-height: 22px;
        margin: -86% auto auto auto;
        text-align: center;

    }

    .slider-container .slide-item-1 .btn-box img{
        display: inline-block!important;
        width: 120px;
    }

    /*********************
        SLIDER ITEM 2
    *********************/
    .slider-container .slide-item-2 h1{
        position: absolute;
        font-family: 'Montserrat-Black';
        max-width: 238px;
        font-size: 260%;
        left: calc(50% - 118px);
        z-index: 1;
        margin-top: 5%;
        color: #434343;
    }

    .slider-container .slide-item-2 .slider-2-img-1{
        position: absolute;
        width: 80%;
        right: 10%;
        top: 15%;
    }

    /*********************
        SLIDER ITEM 3
    *********************/

    .slider-container .slide-item-3 .karts img{
        position: absolute;
        width: 80%;
        left: 10%;
        margin-top: -45%;
        z-index: 2;
    }


    .slider-container .slide-item-3 .slider-3-img-1{
        position: absolute;
        width: 90%;
        right: 0;
        top: 0;
        float: right;
    }

    .slider-container .slide-item-3 h1{
        margin-top: -90%;
        font-family: 'Montserrat-Black';
        font-size: 270%;
        color: #fff;
    }

    .slider-container .slide-item-3 h2{
        max-width: 374px;
        font-family: 'Montserrat-Black';
        font-size: 190%;
        color: #8b630e;
    }

    .slider-container .slide-item-3 .overlay-2 img{
        position: absolute;
        z-index: 6;
        max-width: 65%;
        top: 24%;
        right: -16px;
    }

    /*********************
        SLIDER ITEM 4
    *********************/

    .slider-container .slide-item-4 .m-img-1{
        position: absolute;
        width: 60%;
        right: 20%;
        z-index: 2;
        margin-top: -30%;
    }

    .slider-container .slide-item-4 .slider-4-img-1{
        position: absolute;
        width: 90%;
        right: 0;
        top: 0;
        float: right;
    }

    .slider-container .slide-item-4 h1{
        margin-top: -90%;
        font-family: 'Montserrat-Black';
        font-size: 250%;
        color: #fff;
    }

    .slider-container .slide-item-4 .overlay-2 img{
        position: absolute;
        z-index: 6;
        max-width: 200px;
        top: 47%;
        right: calc(50% - 100px);
    }

    /*********************
        SLIDER ITEM 5
    *********************/
    .slider-container .slide-item-5 h1{
        margin-top: -90%;
        text-align: center;
        font-family: 'Montserrat-Black';
        font-size: 260%;
        color: #fff;
    }

    .slider-container .slide-item-5 .overlay-2 img{
        position: absolute;
        z-index: 6;
        width: 50%;
        max-width: 320px;
        top: 56%;
        right: calc(25%);
    }

    .slider-container .slide-item-5 .images img{
        position: absolute;
        width: 300px;
        left: calc(50% - 150px);
    }
}

@media only screen and (min-width: 769px) {

    .bg-light-sea-blue{
        background-color: #eff5ff;
    }

    .page-wrapper{
        margin-top: 200px;
        min-height: calc(100vh - 480px);
    }

    .page-wrapper .page-title{
        margin-bottom: 5px;
    }

    .page-wrapper .page-title h1{
        font-family: 'Montserrat-ExtrBold';
        color: #262626;
    }

    .page-wrapper .page-title h5{
        font-family: 'Montserrat-ExtrBold';
        color: #262626;
    }

    .agreement .collapse{
        display: block;
    }

    .inner-page-banner{
        position: absolute;
        right: 0;
        top: -470px;
    }

    .mobile-inner-page-banner{
        display: none;
    }

    .slogan{
        font-family: 'Montserrat-Regular';
        font-size: 94%;
        color: #46545c;
        max-width: 140px;
        display: inline-block;
        position: absolute;
        line-height: 20px;
        margin-left: 30px;
        margin-top: -2px;
        letter-spacing: 1px;
    }

    .logo img:last-child{
        display: none;
    }

    header .social-icons{
        position: absolute;
        z-index: 1;
        right: 0;
    }

    .social-icons li{
        list-style: none;
        float: right;
    }

    .social-icons li a{
        color: #fff;
    }
    .social-icons li a i{
        font-size: 24px;
    }

    header {
        width: 100%;
        position: absolute;
        z-index: 11;
    }

    .agreement header{
        position: relative;
    }

    .page-wrapper .card{
        border: none;
        border-radius: unset;
        padding: 30px 0;

    }

    .page-wrapper .card .card-header hr{
        margin: unset;
        border-bottom: 2px solid #2094d0;
        width: 264px;
    }
    .page-wrapper .card .card-header {
        background-color: transparent;
        border: unset;
        margin-left: 1.25rem;
        padding: unset;
    }

    .page-wrapper .card .card-header .btn-link {
        font-family: 'Montserrat-Bold';
        color: #262626;
        padding: 15px 0 15px 0;
    }

    .page-wrapper .card .card-body p{
        font-size: 97%;
        line-height: 30px;
        font-family: 'Montserrat-medium';
        color: #262626;
    }

    .footer-two{
        position: relative;
        width: 100%;
        bottom: 0;
        z-index: 0;
        height: 100px;
        margin-top: 310px;
    }

    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 0;
    }

    footer .left span{
        line-height: 55px;
    }

    footer .left span:first-child{
        float: left;
    }

    footer .left span a:first-child {
        font-family: 'Montserrat-Bold';
        color: #fff;
        padding-top: 10px;
        display: inline-block;
    }
    footer .left span a:first-child:hover{
        color: #e6e6e6;
    }

    footer .left span:last-child{
        float: left;
    }

    footer .right span{
        display: inline-block;
        padding: 0 0 0 14px;
        border: 1px solid #fff;
        border-radius: 22px;
        line-height: 34px;
        height: 40px;
        right: 0;
        bottom: 8px;
        position: absolute;
    }

    footer form input,
    footer form button{
        background-color: transparent;
        border: none;
    }

    footer form input::placeholder{
        padding-left: 8px;
        font-family: 'Montserrat-LightItalic';
        color: #c8e8f6;
    }

    footer form input:focus,
    footer form button:focus{
        outline: none!important;
        color: #fff;
    }
    footer form button{
        font-family: 'Montserrat-Medium';
        font-size: 14px;
        color: #fff;
        padding-right: 14px;
    }

    footer .copyright p{
        font-family: 'Montserrat-Medium';
        margin-bottom: 0;
        position: absolute;
        width: 100%;
        bottom: 16px;
        color: #57c6f8;
    }

    .button-box{

    }

    .button-box a{
        display: inline-block!important;
        margin: 20px 25px 0 0;
    }

    .color-1{
        color: #25a2db;
    }

    /***********************
        CUSTOM BX SLIDER
    ************************/

    .bx-wrapper .bx-pager {
        z-index: 5;
    }

    .slider-container .bx-wrapper{
        background-color: transparent;
        border: none;
        box-shadow: none;
        width: 100%;
    }

    .slider-container .bx-viewport{
        overflow: unset!important;
    }

    .slider-container .slider-item{
        overflow: hidden;
    }

    /*******************
        SLIDERS
    *******************/
    .slider-container .overlay-2{
        position: absolute;
        top: 0;
        left: calc(50% - 480px);
    }

    .slider-container .slider-overlay-1{
        width: 90%;
        position: relative;
        right: 0;
        top: 0;
        float: right;
    }

    .slider-container .slider-overlay-2{
        position: absolute;
        width: 90%;
        right: 0;
        top: 1px;
        z-index: 1;
    }

    .slider-container .m-slider-overlay-1{
        display: none;
    }

    .slider-container .m-slider-overlay-2{
        display: none;
    }

    .slider-container div.slide-item{
        position: relative;
    }


    /*********************
        SLIDER ITEM 1
    *********************/
    .slider-container .slide-item-1 img.phones{
        position: absolute;
        z-index: 2;
        width: 60%;
        margin-top: 18%;
        right: 0;
    }

    .slide-item-1 .text-box{
        position: absolute;
        width: 100%;
        margin-top: 14%;
    }

    .slider-container .slide-item-1 .title-1,
    .slider-container .slide-item-1 .title-2{
        color: #fff;
        font-family: 'Montserrat-Black';
    }

    .slider-container .slide-item-1 .title-1{
        font-size: 500%;
        margin-bottom: 0;
    }

    .slider-container .slide-item-1 .title-2{
        font-size: 170%;
        max-width: 200px;
        margin-top: 10%;
        line-height: 34px;
    }

    .slider-container .slide-item-1 .title-3{
        color: #000;
        font-family: 'Montserrat-Regular';
        max-width: 380px;
        font-size: 108%;
        line-height: 22px;

    }

    .slider-container .slide-item-1 .btn-box{
        position: absolute;
        bottom: -66px;
        z-index: 20;
    }
    .slider-container .slider-item-1 .btn-box a{
        display: inline-block;
    }

    .slider-container .slide-item-1 .btn-box img{
        display: inline-block!important;
        width: 120px;
    }

    /*********************
        SLIDER ITEM 2
    *********************/
    .slider-container .slide-item-2 h1{
        font-family: 'Montserrat-Black';
        max-width: 390px;
        font-size: 300%;
        position: absolute;
        z-index: 1;
        margin-top: 36%;
        color: #434343;
        right: 0;
    }

    .slider-container .slide-item-2 .slider-2-img-1{
        position: absolute;
        width: 90%;
        right: 0;
        top: 0;
        float: right;
    }

    /*********************
        SLIDER ITEM 3
    *********************/
    .slider-container .slide-item-3 .slider-3-img-1{
        position: absolute;
        width: 90%;
        right: 0;
        top: 0;
        float: right;
    }

    .slider-container .slide-item-3 h1{
        margin-top: 14%;
        margin-bottom: 0;
        max-width: 190px;
        font-family: 'Montserrat-Black';
        font-size: 300%;
        color: #fff;
    }

    .slider-container .slide-item-3 h2{
        max-width: 374px;
        font-family: 'Montserrat-Black';
        font-size: 212%;
        color: #8b630e;
    }

    .slider-container .slide-item-3 .overlay-2 img{
        position: absolute;
        z-index: 6;
        max-width: 65%;
        top: 24%;
        right: -16px;
    }

    /*********************
        SLIDER ITEM 4
    *********************/
    .slider-container .slide-item-4 .slider-4-img-1{
        position: absolute;
        width: 90%;
        right: 0;
        top: 0;
        float: right;
    }

    .slider-container .slide-item-4 h1{
        margin-top: 32%;
        max-width: 213px;
        font-family: 'Montserrat-Black';
        font-size: 300%;
        color: #fff;
    }

    .slider-container .slide-item-4 .overlay-2 img{
        position: absolute;
        z-index: 6;
        max-width: 200px;
        top: 47%;
        right: calc(50% - 100px);
    }

    /*********************
        SLIDER ITEM 5
    *********************/
    .slider-container .slide-item-5 h1{
        margin-top: 30%;
        max-width: 213px;
        font-family: 'Montserrat-Black';
        font-size: 300%;
        color: #fff;
    }

    .slider-container .slide-item-5 .overlay-2 img{
        position: absolute;
        z-index: 6;
        width: 50%;
        max-width: 320px;
        top: 56%;
        right: calc(25%);
    }
}

@media only screen and (min-width: 1200px) {

    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 0;
    }

    footer .left span{
        line-height: 55px;
    }

    footer .left span:first-child{
        float: left;
    }

    footer .left span a:first-child {
        font-family: 'Montserrat-Bold';
        color: #fff;
        padding-top: 10px;
        display: inline-block;
    }
    footer .left span a:first-child:hover{
        color: #e6e6e6;
    }

    footer .left span:last-child{
        float: left;
    }

    footer form input,
    footer form button{
        background-color: transparent;
        border: none;
    }

    footer form input::placeholder{
        padding-left: 8px;
        font-family: 'Montserrat-LightItalic';
        color: #c8e8f6;
    }



    /*******************
        SLIDERS
    *******************/
    .slider-container .overlay-2{
        left: calc(50% - 570px);
    }

    .slider-container .slider-overlay-1{
        width: 90%;
        position: relative;
        right: 0;
        top: 0;
        float: right;
    }

    .slider-container .slider-overlay-2{
        position: absolute;
        width: 90%;
        right: 0;
        top: 1px;
        z-index: 1;
    }

    .slider-container div.slide-item{
        position: relative;
    }


    /*********************
        SLIDER ITEM 1
    *********************/
    .slider-container .slide-item-1 img.phones{
        width: 66%;
        right: 6%;
    }

    .slide-item-1 .text-box{
        margin-top: 18%;
    }

    .slider-container .slide-item-1 .title-1{
        font-size: 550%;
        margin-bottom: 0;
    }

    .slider-container .slide-item-1 .title-2{
        font-size: 180%;
        line-height: 36px;
    }

    .slider-container .slide-item-1 .title-3{
        max-width: 400px;
        font-size: 115%;
        line-height: 26px;

    }

    .slider-container .slide-item-1 .btn-box img{
        width: 150px;
    }

    /*********************
        SLIDER ITEM 2
    *********************/
    .slider-container .slide-item-2 h1{
        max-width: 450px;
        font-size: 350%;
        margin-top: 40%;
    }

    /*********************
        SLIDER ITEM 3
    *********************/

    .slider-container .slide-item-3 h1{
        margin-top: 16%;
        max-width: 200px;
        font-size: 350%;
    }

    .slider-container .slide-item-3 h2{
        font-size: 250%;
    }

    .slider-container .slide-item-3 .overlay-2 img{
        max-width: 72%;
        top: 18%;
        right: 5%;
    }

    /*********************
        SLIDER ITEM 4
    *********************/
    .slider-container .slide-item-4 .slider-4-img-1{
        position: absolute;
        width: 90%;
        right: 0;
        top: 0;
        float: right;
    }

    .slider-container .slide-item-4 h1{
        margin-top: 34%;
        max-width: 250px;
        font-size: 350%;
    }

    .slider-container .slide-item-4 .overlay-2 img{
        max-width: 250px;
        top: 47%;
        right: calc(50% - 125px);
    }

    /*********************
        SLIDER ITEM 5
    *********************/
    .slider-container .slide-item-5 h1{
        margin-top: 36%;
        max-width: 250px;
        font-size: 350%;
    }

    .slider-container .slide-item-5 .overlay-2 img{
        width: 60%;
        max-width: 320px;
        top: 56%;
        right: calc(25%);
    }
}

@media only screen and (min-width: 1400px) {

    /*********************
        SLIDER ITEM 1
    *********************/
    .slider-container .slide-item-1 img.phones{
        width: 78%;
        right: 6%;
        margin-top: 20%;
    }

    .slide-item-1 .text-box{
        margin-top: 23%;
    }

    .slider-container .slide-item-1 .title-1{
        font-size: 600%;
    }

    .slider-container .slide-item-1 .title-2{
        font-size: 200%;
        line-height: 42px;
    }

    .slider-container .slide-item-1 .title-3{
        max-width: 460px;
        font-size: 128%;
        line-height: 26px;
        text-align: justify;

    }

    .slider-container .slide-item-1 .btn-box img{
        width: 160px;
    }

    /*********************
        SLIDER ITEM 2
    *********************/
    .slider-container .slide-item-2 h1{
        max-width: 470px;
        font-size: 360%;
        margin-top: 48%;
    }

    /*********************
        SLIDER ITEM 3
    *********************/

    .slider-container .slide-item-3 h1{
        margin-top: 26%;
        max-width: 450px;
        font-size: 360%;
    }

    .slider-container .slide-item-3 h2{
        font-size: 270%;
    }

    .slider-container .slide-item-3 .overlay-2 img{
        max-width: 78%;
        top: 22%;
        right: -4%;
    }

    /*********************
        SLIDER ITEM 4
    *********************/
    /*.slider-container .slide-item-4 .slider-4-img-1{
        position: absolute;
        width: 90%;
        right: 0;
        top: 0;
        float: right;
    }*/

    .slider-container .slide-item-4 h1{
        margin-top: 44%;
        max-width: 450px;
        font-size: 360%;
    }

    .slider-container .slide-item-4 .overlay-2 img{
        max-width: 280px;
        right: calc(50% - 140px);
    }

    /*********************
        SLIDER ITEM 5
    *********************/
    .slider-container .slide-item-5 h1{
        margin-top: 44%;
        max-width: 450px;
        font-size: 360%;
    }

    /*.slider-container .slide-item-5 .overlay-2 img{
        width: 60%;
        max-width: 320px;
        top: 56%;
        right: calc(25%);
    }*/
}

@media only screen and (min-width: 1600px) {

    /*********************
        SLIDER ITEM 1
    *********************/
    .slider-container .slide-item-1 img.phones{
        width: 82%;
        right: 2%;
        margin-top: 26%;
    }

    .slide-item-1 .text-box{
        margin-top: 40%;
    }

    .slider-container .slide-item-1 .btn-box img{
        width: 160px;
    }

    /*********************
        SLIDER ITEM 2
    *********************/
    .slider-container .slide-item-2 h1{
        max-width: 520px;
        margin-top: 55%;
    }

    /*********************
        SLIDER ITEM 3
    *********************/

    .slider-container .slide-item-3 h1{
        margin-top: 32%;
    }

    .slider-container .slide-item-3 h2{
        font-size: 286%;
        max-width: 500px;
    }

    .slider-container .slide-item-3 .overlay-2 img{
        max-width: 84%;
        top: 24%;
        right: -6%;
    }

    /*********************
        SLIDER ITEM 4
    *********************/

    .slider-container .slide-item-4 h1{
        margin-top: 50%;
    }

    .slider-container .slide-item-4 .overlay-2 img{
        margin-top: 8%;
        right: calc(50% - 110px);
    }

    /*********************
        SLIDER ITEM 5
    *********************/
    .slider-container .slide-item-5 h1{
        margin-top: 50%;
    }

    .slider-container .slide-item-5 .overlay-2 img{
        right: 34%;
    }
}

@media only screen and (min-width: 1900px) {

    /*********************
        SLIDER ITEM 1
    *********************/
    .slider-container .slide-item-1 img.phones{
        width: 90%;
        margin-top: 28%;
    }

    .slider-container .slide-item-1 .title-1 {
        margin-bottom: 15px;
    }

    .slider-container .slide-item-1 .title-3 {
        margin-bottom: 28px;
    }

    .slide-item-1 .text-box{
        margin-top: 40%;
    }

    .slider-container .slide-item-1 .btn-box img{
        width: 160px;
    }

    /*********************
        SLIDER ITEM 2
    *********************/
    .slider-container .slide-item-2 h1{
        margin-top: 64%;
    }

    /*********************
        SLIDER ITEM 3
    *********************/

    .slider-container .slide-item-3 h1{
        margin-top: 42%;
    }

    .slider-container .slide-item-3 h2{
        font-size: 286%;
        max-width: 500px;
    }

    .slider-container .slide-item-3 .overlay-2 img{
        max-width: 94%;
        top: 28%;
    }

    /*********************
        SLIDER ITEM 4
    *********************/

    .slider-container .slide-item-4 h1{
        margin-top: 50%;
        font-size: 440%;
    }

    .slider-container .slide-item-4 .overlay-2 img{
        margin-top: 8%;
        right: calc(50% - 50px);
    }

    /*********************
        SLIDER ITEM 5
    *********************/
    .slider-container .slide-item-5 h1{
        margin-top: 50%;
        font-size: 440%;
    }

    .slider-container .slide-item-5 .overlay-2 img{
        right: 34%;
        top: 60%;
    }
}

/* new */
.bx-viewport{
    height: 348px!important;
}

#slide-desc{
    height: 130px;
}

#bx-pager{
    position: absolute;
    bottom: 0;
}
#bx-pager a{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #b9b9b96b;
    border-radius: 50%;
    margin-right: 6px;
}

#bx-pager a.active{
    background-color: #626262a6;
}

